<div class="container">
  <div class="mx-auto my-3 text-light justify-content-around row" style="width: max-content; ">
      <div class="col-6"> 
        <label for="pnr" class="d-block">pnr</label>
        <kendo-autocomplete
            [data]="pnrList"
            [placeholder]="'e.g. Denmark'"
            class="countries"
            (valueChange)='onValueChange($event)'
        >
        </kendo-autocomplete>
    </div>
      <div class="col-6">
          <label for="localApi" class="d-block">url</label>
        <input type="text" [(ngModel)]="localApi" name="localApi">
    </div>
  </div>
  <div class="row">
    <ul class="list-group my-3 col-6" *ngFor="let flightClass of viewModel.flightClasses">
      <h2>{{flightClass.name}}</h2>
      <li *ngFor="let link of flightClass.links" class="list-group-item ">
        <a [href]="link.pnr ? localApi + fixed + link.url + selectedPnr : localApi + fixed + link.url"
        target="_blank">{{link.title}}</a>
      </li>
    </ul>
  </div>
</div>
